body {
    height: 100vh;
    animation-name: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes alternate {
  0%   {background-color: #b5d3df;}
  100% {background-color: #7eb3c7;}

}

.col {
    width: 13.5vw;
    height: 13.5vw;
}

.row {
    flex-wrap: nowrap;
    flex: 1 1 0;
}

h1 {
    margin: 2rem;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.tile {
    font-size: 3rem;
    font-weight: bolder;
}

article {
    text-align: center;
    line-height: 1em;
    margin: auto;
    font-size: 3.5rem;
}

@media screen and (min-width: 480px) {
  article {
    font-size: 5rem;
    }
}

input {
    width: 8em;
}

label {
    margin-left: 1em;
}

.player-one {
    margin-top: 2em;
}

aside {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}