body {
    height: 100vh;
}

.container {
    
} 

.col {
    width: 14vw;
    height: 15vw;
}

.row {
    flex-wrap: nowrap;
    flex: 1 1 0;
}

h1 {
    margin: 2rem;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.tile {
    font-size: 3rem;
    font-weight: bolder;
}

article {
    text-align: center;
    margin: auto;
    font-size: 3.5rem;
}

@media screen and (min-width: 480px) {
  article {
    font-size: 5rem;
    }
}
